{% extends 'base.html' %}

{% block main %}
<div class="row row-cols-1 row-cols-md-12 g-4">
    <div class="col">
        <div class="card h-100">

            <br>
            <div class="card-body">
                <a href="{% url 'home' %}">
                    <h5 class="card-title">{{ student.name }} {{ student.lastname }}</h5>
                </a>
                <p class="card-text">
                    <strong>Elaektron pochtasi:</strong> {{ student.email }} <br>
                    <strong>Qo'shilgan vaqti:</strong> {{ student.enrolled_at }} <br>
                    <strong>O'qiyotgan kursi:</strong> {{ student.course }} <br>

                </p>
            </div>
            <div class="card-footer d-flex justify-content-around">
                <small class="text-muted">{{ student.enrolled_at }}</small>
                <small class="text-muted">{{ student.name }}</small>
                <small class="text-muted">{{ student.course }}</small>
            </div>
        </div>
    </div>
</div>
<!--cards-->
<div class="mt-5 d-flex justify-content-center">
    <a href="{% url 'home' %} " class="btn btn-outline-primary btn-rounded" data-mdb-ripple-init
       data-mdb-ripple-color="dark">
        Ortga</a>
</div>
{% endblock main %}